In [9]:
import numpy as np
import pandas as pd

In [10]:
se1 = pd.Series([1, 2, 3], ['a', 'b', 'c'])
se

a    1
b    2
c    3
dtype: int64

In [11]:
se2 = pd.Series([8, 6, 9], ['a', 'b', 'c'])
se2

a    8
b    6
c    9
dtype: int64

In [14]:
dt = {'one': se1,
      'two': se2}

In [15]:
pd.DataFrame(dt)

   one  two
a    1    8
b    2    6
c    3    9

In [19]:
df = pd.DataFrame(dt, index=['a', 'b', 'c'], columns=['two', 'three'])
df

   two three
a    8   NaN
b    6   NaN
c    9   NaN